<div class="container">
  <div class="fw-bold text-secondary display-5 mt-5 mb-5">
    交通費申請
  </div>
  <%= form_with model: @fare, url: fares_path, method: :post do |f| %>
    <div class="row mb-2 gy-2 gx-3">
      <div class="col-auto">
        <%= f.label :date, "日付", class: 'control-label' %>
        <%= f.date_field :date, class: 'form-control', required: true %>
      </div>
      <div class="col-auto">
      <%= f.label :section, "利用区間", class: 'control-label' %>
        <div class="input-group">
          <%= f.text_field :routeA, class: "form-control", required: true %>
          <div class="input-group-text">〜</div>
          <%= f.text_field :routeB, class: "form-control", required: true %>
        </div> 
      </div>
      <div class="col-auto">
        <%= f.label :transportation, "交通手段", class: 'control-label' %>
        <%= f.select :transportation, [["電車", "電車"], ["バス", "バス"], ["新幹線", "新幹線"], ["タクシー", "タクシー"]],
        { include_blank: "選択して下さい" }, { class: "form-select", required: true }  %>
      </div>
      <div class="col-auto">
        <%= f.label :amount, "金額", class: 'control-label' %>
        <%= f.number_field :amount, class: "form-control", required: true, min: 0 %>
      </div>
      <div class="col-auto">
        <%= f.label :remarks, "備考", class: 'control-label' %>
        <%= f.text_field :remarks, class: "form-control" %>
      </div>
    </div>
    <div id="additional-fields"></div>
    <button type="button" class="btn btn-secondary add-row">入力フォームを追加</button>
    <div class="text-center mt-3">
        <%= link_to "戻る", root_path, class: "btn btn-secondary" %>
        <%= f.submit "申請する", class: "btn btn-secondary", style: "width: 300px;" %>
    </div>
  <% end %>
</div>
